DJANGO_SECRET_KEY=

DB_NAME=tgpfflows
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306

NGROK_AUTH_TOKEN=

WEEDMAPS_EMAIL=
WEEDMAPS_PASSWORD=

MERCHANT_PAY_EMAIL=
MERCHANT_PAY_PASSWORD=
MERCHANT_PAY_IMAP_USER=
MERCHANT_PAY_IMAP_PASS=

TALKROUTE_EMAIL=
TALKROUTE_PASSWORD=
TALKROUTE_PHONE=
TALKROUTE_TEST_PHONE=

WEBJOINT_EMAIL=
WEBJOINT_PASSWORD=

ANTHROPIC_API_KEY=
